"$schema" = 'https://starship.rs/config-schema.json'

format = """
$shell \
$directory \
$git_branch \
$character
"""

add_newline = false

[character]
success_symbol = '[ ](#7aa2f7 bold)'
error_symbol   = '[ ✗](#f7768e bold)'

[shell]
zsh_indicator = '[](#7aa2f7 bold) [](#bb9af7 bold) ' 
disabled = false

[package]
disabled = true

[directory]
style = "#c0caf5"                  
read_only = " "
read_only_style = "#f7768e"

[git_branch]
symbol = " "
style = "#bb9af7 bold"          

