window {
  margin: 5px;
  padding: 10px;
  background-color: rgba(0, 43, 54, 0.95);
  font-family: "JetBrains Mono", "Fira Code", monospace;
  font-size: 16px;
  color: #93a1a1;
}

#input {
  margin: 5px;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  background-color: #073642;
  color: #eee8d5;
}

#entry {
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: #839496;
}

#entry:selected {
  background-color: #268bd2;
  color: #002b36;
}

#scroll {
  margin-top: 10px;
}
