* {
  font-family: "SF Mono";
  font-size: 14px;
  min-height: 0;
  padding: 0 4px;
}

#waybar {
  background: transparent;
  color: #d8dee9;
  margin: 3px;
  border-radius: 6px;
  /* border: 1px solid rgba(255, 255, 255, 0.04); */
}

#workspaces {
  margin: 3px;
  margin-left: 100px;
  border-radius: 10px;
  padding: 0 2px;
}

#workspaces button {
  background: #2e3440;
  border-radius: 4px;
  margin: 2px;
  padding: 3px 6px;
  color: #d8dee9;
  transition: background 0.2s ease;
}

#workspaces button.active {
  background: #a3be8c;
  color: #2e3440;
  font-weight: bold;
}

#workspaces button:hover {
  background: rgba(129, 161, 193, 0.25); /* Soft hover */
}

button {
  background: transparent;
  border: none;
}

#clock,
#pulseaudio,
#cpu,
#memory,
#network {
  margin: 5px;
  padding: 3px 6px;
  border-radius: 4px;
  transition: background 0.2s ease;
}

#clock {
  background: #3b4252;
}

#pulseaudio {
  background: #8fbcbb;
  color: #2e3440;
}

#network {
  background: #88c0d0;
  color: #2e3440;
}

#cpu {
  background: #81a1c1;
  color: #2e3440;
}

#memory {
  background: #5e81ac;
  color: #2e3440;
  margin-right: 100px;
}
