window {
    margin: 5px;
    padding: 10px;
    background-color: rgba(25, 23, 36, 0.95);
    font-family: "JetBrains Mono", "Fira Code", monospace;
    font-size: 16px;
    color: #e0def4;
}

#input {
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    background-color: #2a273f;
    color: #e0def4;
}

#entry {
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: #908caa;
}

#entry:selected {
    background-color: #403d52;
    color: #f6c177;
}

#scroll {
    margin-top: 10px;
}
